{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>


    <a href="/generate" class="btn btn-primary">Générer un mot de passe</a>

  <p>Mot de passe généré : {{ password }}</p>
{% endblock %}
